<!DOCTYPE html>

<html>

<head>

    <link rel = "stylesheet" href="./css/style.css" >
    
<title>About</title>

</head>

<body>

    <div class="main-content">
        {{>header}} <!-- this brings the content of header.hbs here -->
        <h1>{{correct}}!</h1>
        <p> {{title}}</p>
        <h6>{{surname}}</h6>
        <img class="portrait" src = '/img/aaa.png'>  <!-- with space for more classes-->

        <br>
    </div>
    <p>ciao</p>
    {{>footer}}
    <p>ciao1</p>

</body>





</html>

