<!DOCTYPE html>

<html>

<head>
    
<title>Help</title>

</head>

<body>

    <div class="main-content">

        <h1>Yes i'll help u {{names}}  </h1>
        <h3>{{title}}</h3>
        <h5>{{scorrect}}</h5>

        <br>
        <p>ciao</p>

    </div>


    {{>header}} <!-- this brings the content of header.hbs here -->
    
    {{>footer}}
    <p>ciao1</p>

</body>





</html>

